@font-face {
    font-family: 'pretendard';
    src: local('fonts/pretendardVariable.ttf');
}
* {margin: 0; font-size: 16px; font-family: 'pretendard';}
.container01 {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;
}
.urlbox {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    gap: 0.3em;
}
.title {
    width: 4em;
    height: 4em;
    font-weight: 900;
    color: rgb(0, 0, 0);
}
.inputBtn {
    border-radius: 5px;
    width: 15em;
    height: 2em;
    border: none;
    background-color: #f2f2f2;
    font-size: 1em;
    font-weight: 700;
    color: rgb(0, 0, 0);
    outline: none;
}
.saveBtn {
    border-radius: 5px;
    padding: .2em 1em;
    border: none;
    background-color: #01ff3d;
    font-size: 1.2em;
    font-weight: 700;
    color: #ffffff;
    outline: none;
}